<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
<div class="content">
  <div class="grid">
    <figure class="effect-bubba">
      <img src="/assets/1.jpg" alt="wroclaw"/>
      <figcaption>
        <div>
          <h2>Wroclaw</h2>
          <p><img src="/assets/lokali.png" alt="wroclaw" class="lokali"/><br/><span class="url">www.elizamakiej.pl/wroclaw</span><br/><span>ul. Sienkiewicza 8a</span><br/><span>50-237 Wroclaw</span>
          </p>
        </div>
        <a routerLink="/wroclaw" routerLinkActive="active">View more</a>
      </figcaption>
    </figure>
    <figure class="effect-bubba">
      <img src="/assets/2.jpg" alt="tomaszow boleslawiecki"/>
      <figcaption>
        <div>
          <h2>Boleslawiec</h2>
          <p><img src="/assets/lokali.png" alt="wroclaw" class="lokali"/><br/><span class="url">www.elizamakiej.pl/tomaszow-boleslawiecki</span><br/><span>59-720 Tomaszow Boleslawiecki 8</span>
          </p>
        </div>
        <a routerLink="/tomaszow-boleslawiecki" routerLinkActive="active">View more</a>
      </figcaption>
    </figure>
  </div>
</div>
