<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
<div class="content">
  <div class="grid">
    <figure class="effect-bubba">
      <img src="/assets/photos/1.jpg" alt="wroclaw"/>
      <figcaption>
        <div>
          <h2>Wroclaw</h2>
          <p>Chce zrobic zdjecie we Wroclawiu</p>
          <p><img src="/assets/photos/eliza.jpeg" alt="img12" class="eliza"/></p>
        </div>
        <a routerLink="/wroclaw" routerLinkActive="active">View more</a>
      </figcaption>
    </figure>
    <figure class="effect-bubba">
      <img src="/assets/photos/2.jpg" alt="tomaszow boleslawiecki"/>
      <figcaption>
        <div>
          <h2>Tomaszow Boleslawiecki</h2>
          <p>Chce zrobic zdjecie w Tomaszowie Boleslawieckim</p>
          <p><img src="/assets/photos/eliza.jpeg" alt="img12" class="eliza"/></p>
        </div>
        <a routerLink="/tomaszow-boleslawiecki" routerLinkActive="active">View more</a>
      </figcaption>
    </figure>
  </div>
