<div class="basic-background" id="voucher_content">
  <div class="title second-color">Spraw bliskim prezent</div>
  <div class="container">
    <hr class="separator-line-second"/>
    <div class="row text">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="./assets/voucher.JPG"/>
          </div>
          <div class="flip-card-back">
            <h1>B</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn portfolio-button" routerLink="/kontakt">
        Skontaktuj się by kupić voucher
      </button>
    </div>
  </div>
  <!--  <div class="row arrow-content">-->
  <!--    <img src="./assets/pink-down-arrow.svg" class="down-arrow"-->
  <!--         onClick="document.getElementById('kontakt').scrollIntoView({ behavior: 'smooth', block: 'center' });"/>-->
  <!--  </div>-->
</div>
