<div class="second-background" id="voucher_content">
  <div class="title basic-color">Spraw bliskim prezent</div>
  <div class="container">
    <hr class="separator-line-basic"/>
    <div class="row text">
      <div class="col-6 ">
        Super fajny voucherek. Zapomniales ze ktos ma urodziny? Kup mu cos tak zajebistego jak ten bon
      </div>
      <div class="col-6">
          <img src="./assets/bon.jpg"/>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn portfolio-button" routerLink="/kontakt">
          Skontaktuj się by kupić voucher
      </button>
    </div>
  </div>
</div>
