.text {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  height: 100%;
}

img {
  width: 100%;
  border-radius: 10px;
}

.portfolio-button {
  color:white;
  border: 1px solid white;
  width: 100%;
  height: 60px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio-button:hover {
  background-color: white;
  color: #D3A5A7;
  border: 1px solid #D3A5A7;
}



