<div class="card bg-dark text-white" >
  <img [src]="imageSource" class="card-img" [alt]="imageAlt">
  <div class="card-img-overlay">
    <div class="card-content">
      <h5 class="card-title">{{cardTitle}}</h5>
    </div>
  </div>
</div>

<!--<ng-template #template>-->
<!--(click)="openModal(template)"-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title pull-left">{{cardTitle}}</h4>-->
<!--    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <div class="row">-->
<!--      <div class="col-6">-->
<!--      </div>-->
<!--      <div class="col-6">-->
<!--        <app-carousel></app-carousel>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
