:host {
  :hover {
    cursor: pointer;
    box-shadow: 0 0 1em #D3A5A7;
    .card-img {
      opacity: 1 !important;
    }
    .card-title {
      box-shadow: none !important;
      background-color: #D3A5A7;
      border: 1px solid white;
    }
  }
}

.card {
  max-height: 300px;
  max-width: 400px;
  border: 1px solid #D3A5A7;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1em #C2C2C2;
}

.card-img-overlay{
  display: grid;
  align-items: end;
}

.card-img {
  opacity: 0.5;
}

.card-content {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none !important;
}

.card-title {
  font-size: 20px;
  color: white;
  margin: 0;
  padding:4px;
  text-align: center;
}


