<div class="title">
  <div class="container">
    <h1>Wybierz interesującą cię sesje</h1>
    <hr class="separator separator--line"/>
    <div class="row">
      <div class="col-4">
        <app-card [imageSource]="firstCardImageSrc" [cardTitle]="firstCardTitle"
                  [imageAlt]="firstCardImageAlt"></app-card>
      </div>
      <div class="col-4">
        <app-card [imageSource]="secondCardImageSrc" [cardTitle]="secondCardTitle"
                  [imageAlt]="secondCardImageAlt"></app-card>
      </div>
      <div class="col-4">
        <app-card [imageSource]="thirdCardImageSrc" [cardTitle]="thirdCardTitle"
                  [imageAlt]="thirdCardImageAlt"></app-card>
      </div>
    </div>
    <div class="row content">
      <div class="col-4">
        <app-card [imageSource]="fourthCardImageSrc" [cardTitle]="fourthCardTitle"
                  [imageAlt]="fourthCardImageAlt"></app-card>
      </div>
      <div class="col-4">
        <app-card [imageSource]="sixthCardImageSrc" [cardTitle]="sixthCardTitle"
                  [imageAlt]="sixthCardImageAlt"></app-card>
      </div>
      <div class="col-4">
        <app-card [imageSource]="fifthCardImageSrc" [cardTitle]="fifthCardTitle"
                  [imageAlt]="fifthCardImageAlt"></app-card>
      </div>
    </div>
  </div>
</div>
