<div class="second-background" id="sesje">
  <div class="title basic-color">
    {{chosenSessionType?.cardTitle ? chosenSessionType.cardTitle : 'Wybierz interesującą cię sesje'}}
  </div>
  <div class="container">
    <hr class="separator-line-basic"/>
    <div *ngIf="!chosenSessionType; else details">
      <div class="row break">
        <div class="col-4" *ngFor="let session of sessions.slice(0,3)">
          <app-card
            [imageSource]="session.imageSrc" [cardTitle]="session.cardTitle"
            [imageAlt]="session.imageAlt" (chosenSessionType)="setChosenSessionType($event)"></app-card>
        </div>
      </div>
      <div class="row break">
        <div class="col-4" *ngFor="let session of sessions.slice(3,6)">
          <app-card
            [imageSource]="session.imageSrc" [cardTitle]="session.cardTitle"
            [imageAlt]="session.imageAlt" (chosenSessionType)="setChosenSessionType($event)"></app-card>
        </div>
      </div>
    </div>
  </div>
  <ng-template #details>
    <app-card-detail
      [title]="chosenSessionType.details.text"
      [imageSrc]="chosenSessionType.imageSrc"
      [prepareText]="chosenSessionType.details.text"
      [offerText]="chosenSessionType.details.offer"
      (backToEmitter)="setEmptyChosenSession()"
    ></app-card-detail>
  </ng-template>
  <div class="row arrow-content">
    <img src="./assets/pink-down-arrow.svg" class="down-arrow"
         onClick="document.getElementById('o_mnie').scrollIntoView({ behavior: 'smooth', block: 'center' });"/>
  </div>
</div>

