.first-page {
  background-image: url("/assets/4.JPG");
  background-size: cover;
  img { opacity: 0.8; }
  height: 100vh;
}

.second-page {
  background-color: white;
  height: 100vh;
}

.app-carousel{
  width: 100%;
}
