<div class="carousel">
    <h1 class="display-4">Rodzaje sesji, ktore wykonuje</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <div class="carousel-background">
  <carousel [itemsPerSlide]="itemsPerSlide"
              [singleSlideOffset]="singleSlideOffset"
              [interval]="myInterval"
              [noWrap]="noWrap"
              [startFromIndex]="0"
              (slideRangeChange)="onSlideRangeChange($event)">
      <slide *ngFor="let slide of slides; let index=index" class="mx-auto">
        <img [src]="slide.image" alt="image slide"  class="photo">
        <div class="carousel-caption">
          <h4>ciazowe {{index}}</h4>

        </div>
      </slide>
    </carousel>
  </div>

</div>
