.photo {
  height: 600px;
}
.carousel {
  position: static;
  width: 100%;
}

.carousel-background{
  background-color: #D3A5A7;
}

h1 {
  display: flex;
  justify-content: center;
  color: #C2C2C2;
}

p {
  color: #C2C2C2;
}
