/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.basic-background {
  height: 100vh;
  background-color: #D3A5A7;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.second-background {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.title {
  display: block;
  justify-content: center;
  font-size: 40px;
}

.basic-color {
  color: #D3A5A7;
}

.second-color {
  color: white;
}

.separator-line-second {
  border: 0;
  left: 0;
  width: 0;
  animation: separator-width 3s ease-out forwards;
  border-bottom: 3px solid white;
}

.separator-line-basic {
  border: 0;
  left: 0;
  width: 0;
  animation: separator-width 3s ease-out forwards;
  border-bottom: 3px solid #D3A5A7;
}

.arrow-content{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto 0 1%;
}

.down-arrow {
  height: 80px;
}

.down-arrow img svg path {
  fill: white !important;
}

.down-arrow:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}


