@import "../../../../assets/styles/custom-styles";

.navigation-container {
  margin-top: 60px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  height: 60px;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navigation-item {
  color: $whiteColor;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
  &:hover {
    box-sizing: border-box;
    border-bottom: 2px solid $whiteColor;
    cursor: pointer;
  }
}

.active {
  color: $whiteColor;
  border-bottom: 2px solid $whiteColor !important;
}

.logo {
  height: 140px;
  &:hover {
    cursor: pointer;
  }
}

.logo-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  top: -40px
}



