<div class="navigation-container">
  <div class="gray-container">
    <div class="navigation-item">
      <a>Wybierz lokalizację</a>
    </div>
    <div class="navigation-item">
      <a href="#">Strona glowna</a>
    </div>
    <div class="navigation-item">
      <a class="" href="#">Portfolio</a>
    </div>
    <div class="navigation-item">
      <a class="" href="#">Studio</a>
    </div>
    <img src="/assets/logooo.png" class="logo"/>
    <div class="navigation-item">
      <a class="" href="#">Oferta</a>
    </div>
    <div class="navigation-item">
      <a class="" href="#">Przed sesja</a>
    </div>
    <div class="navigation-item">
      <a class="" href="#">Kontakt</a>
    </div>
    <div class="navigation-item">
      <a class="" href="#">O mnie</a>
    </div>
  </div>
</div>
