.navigation-container {
  margin-top: 60px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  height: 60px;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navigation-item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
}

.navigation-item:hover {
  box-sizing: border-box;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.active {
  padding: 14px;
  background-color: white;
  color: #D3A5A7;
  border: 1px solid transparent !important;
}

.logo {
  height: 140px;
}
.logo:hover {
  cursor: pointer;
}

.logo-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  top: -40px
}



